  <!-- start: 5th Page - About -->
  <div id="about" class="color yellow">
    
    <!--start: Container -->
    <div class="container">

      <!--start: Wrapper -->
      <div class="wrapper span12">

              <!-- start: Page Title -->
      <div id="page-title">

        <div id="page-title-inner">

            <h2><span>About Us</span></h2>

        </div>  

      </div>
      <!-- end: Page Title -->        
    
      <!--start: Row -->
        <div class="row-fluid">
    
        <div class="span12">
          
          <!-- start: About Us -->
          <div id="story">
            <h3>Our Story</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
          </div>  
          <!-- end: About Us -->

          <!-- start: History -->
          <div id="history">
            <h3>History</h3>
            <p>
              <span class="dropcap">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              <span class="dropcap color">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              <span class="dropcap dark">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
          </div>  
          <!-- end: History -->

        </div>
        
      </div>
      <!--end: Row -->
      
      <!-- start: Row -->
      <div class="row-fluid">   
        
        <div class="span12">
          
          <!-- start: Skills -->
              <h3>Our Skills</h3>
              <ul class="progress-bar">
            <li>
                    <h5>Web Design ( 40% )</h5>
                  </li>
                <li>
                    <div class="meter"><span style="width: 40%"></span></div><!-- Edite width here -->
                  </li>
            <li>
                    <h5>Wordpress ( 80% )</h5>
                  </li>
                  <li>
                    <div class="meter"><span style="width: 80%"></span></div><!-- Edite width here -->
                  </li>
            <li>
                    <h5>Branding ( 100% )</h5>
                  </li>
                  <li>
                    <div class="meter"><span style="width: 100%"></span></div><!-- Edite width here -->
                  </li>
                  <li>
                    <h5>SEO Optmization ( 60% )</h5>
                  </li>
            <li>
                    <div class="meter"><span style="width: 60%"></span></div><!-- Edite width here -->
                  </li>
              </ul>
              <!-- end: Skills -->
            
        </div>
        
      </div>
      <!--end: Row -->
      </div>
      <!-- end: Wrapper -->
    
    </div>
    <!--end: Container -->
    
  </div>
  <!-- end: 5th Page - About -->
  <!-- start: 6th Page - Team -->
  <div id="team" class="color white">
    
    <!--start: Container -->
    <div class="container">

      <!--start: Wrapper -->
      <div class="wrapper span12">

        <!-- start: Page Title -->
<div id="page-title">

  <div id="page-title-inner">

      <h2><span>Team</span></h2>

  </div>  

</div>
<!-- end: Page Title -->        

<!-- start: Row -->
<div class="row-fluid">
  
  <div class ="span12">
    
    <!-- start: Team -->  
    <div id="team">
            
      <!-- start: Row -->
      <div class="row-fluid">
      
        <!-- start: About Member -->
        <div class="span3">
          <div class="avatar">
            <img class="img-circle" src="assets/img/team_member.jpg" alt="team member">
          </div>  
          <div class="team-name">Lucas Luck</div>
          <div class="position">Co-Founder, CEO</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
          </p>
          <div class="social_profiles">
            <ul class="social-bookmarks">
              <li class="facebook"><a href="">facebook</a></li>
              <li class="flickr"><a href="">flickr</a></li>
              <li class="linkedin"><a href="#">linkedin</a></li>
              <li class="twitter"><a href="#">twitter</a></li>
            </ul>
          </div>  
        </div>
        <!-- end: About Member -->
        
        <hr class="clean visible-phone">

        <!-- start: About Member -->
        <div class="span3">
          <div class="avatar">
            <img class="img-circle" src="assets/img/team_member.jpg" alt="team member">
          </div>  
          <div class="team-name">Lucas Luck</div>
          <div class="position">Co-Founder, CEO</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
          </p>
          <div class="social_profiles">
            <ul class="social-bookmarks">
              <li class="facebook"><a href="">facebook</a></li>
              <li class="flickr"><a href="">flickr</a></li>
              <li class="linkedin"><a href="#">linkedin</a></li>
              <li class="twitter"><a href="#">twitter</a></li>
            </ul>
          </div>  
        </div>
        <!-- end: About Member -->
        
        <hr class="clean visible-phone">
        
        <!-- start: About Member -->
        <div class="span3">
          <div class="avatar">
            <img class="img-circle" src="assets/img/team_member.jpg" alt="team member">
          </div>  
          <div class="team-name">Lucas Luck</div>
          <div class="position">Co-Founder, CEO</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
          </p>
          <div class="social_profiles">
            <ul class="social-bookmarks">
              <li class="facebook"><a href="">facebook</a></li>
              <li class="flickr"><a href="">flickr</a></li>
              <li class="linkedin"><a href="#">linkedin</a></li>
              <li class="twitter"><a href="#">twitter</a></li>
            </ul>
          </div>  
        </div>
        <!-- end: About Member -->
        
        <hr class="clean visible-phone">

        <!-- start: About Member -->
        <div class="span3">
          <div class="avatar">
            <img class="img-circle" src="assets/img/team_member.jpg" alt="team member">
          </div>  
          <div class="team-name">Lucas Luck</div>
          <div class="position">Co-Founder, CEO</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
          </p>
          <div class="social_profiles">
            <ul class="social-bookmarks">
              <li class="facebook"><a href="">facebook</a></li>
              <li class="flickr"><a href="">flickr</a></li>
              <li class="linkedin"><a href="#">linkedin</a></li>
              <li class="twitter"><a href="#">twitter</a></li>
            </ul>
          </div>  
        </div>
        <!-- end: About Member -->
        
        <hr class="clean visible-phone">  
      
      </div>
      <!-- end: Row -->

    </div>
    <!-- end: Team -->
    
  </div>  
  
</div>  
<!-- end: Row -->
      </div>
      <!-- end: Wrapper -->
    
    </div>
    <!--end: Container -->
    
  </div>
  <!-- end: 6th Page - Team -->