<a  name="contact"></a>
      <div class="banner">

        <div class="container">

          <div class="row">
            <div class="col-lg-3">
              <h2>Get In Touch</h2>
            </div>
            <div class="col-lg-6">
              <!-- start: Row -->
              <div class="row-fluid">   
                <div class="span12">
                  <!-- start: Contact Info -->
                  <h3>We Offer 24/7 Support. Contact us via</h3>
                  Phone: +254718117000, +254718117000, +254718117000<br>
                  Skype: speedisha.africa<br>
                  Email: info@speedishaafrica.com, support@speedishaafrica.com <br>
                  <!-- end: Contact Info -->
                </div>
              </div>
              <!-- end: Row -->
              <hr class="clean">

              <!-- start: Row -->
              <div class="row-fluid">   
                <div class="span12">
                  <h3>Leave Us A Message</h3>
                  <!-- start: Contact Form -->
                  <div id="contact-form">
                    <form method="post" action="">
                      <fieldset>
                        <input tabindex="4" id="name" name="name" type="text" value="" class="form-control" placeholder="Your Name: ..." /><br>
                        <input tabindex="2" id="email" name="email" type="text" value="" class="form-control" placeholder="Your Email: ..." /><br>
                        <textarea tabindex="3" class="input-xlarge form-control" id="message" name="body" rows="7" placeholder="Message: ..."></textarea><br>

                        <div class="actions">
                          <button tabindex="3" type="submit" class="btn btn-success btn-large">Send message</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <!-- end: Contact Form -->
                </div>
              </div>
            </div>
            <!-- Start: Social Media Links -->

            <div class="col-lg-3">
              <!-- start: Row -->
              <div class="row-fluid">   
                <div class="span12"> 
                  <h3>Reach us on Social Media</h3>
                  <ul class="list-inline banner-social-buttons">
                    <li>
                      <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                      <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.banner -->
