<!-- Header -->
<section class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to Speedisha Africa</h1>
                    <h3>Your Convinient And Reliable Digital Currency Exchange Partner.</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a routerLink="/paypal-services" 
                                class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                                <i class="fa fa-paypal fa-3x"></i> <span class="network-name"> PayPal</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/skrill-services" 
                                class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                                <i class="pw pw-skrill pw-3x"></i><span class="network-name"></span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/bitcoin-services" 
                                class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                                    <i class="fa fa-bitcoin fa-3x"></i> <span class="network-name"> Bitcoin</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/mobile-money-services" 
                                class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                                    <i class="fa fa-mobile fa-3x"></i> <span class="network-name"> Mobile Money</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->
</section>
    <!-- /.intro-header -->


<!-- Page Content -->
  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">PayPal Services</h2>
                    <p class="lead">We exchange PayPal currency to mobile money (AirtelMoney, M-Pesa) / Bitcoins / Skrill currency. Click on a service below to begin</p>
                    <ul class="list">
                        <li>
                            <a>
                                <i class="pw pw-paypal pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i> 
                                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="pw pw-paypal pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-skrill pw-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="pw pw-paypal pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-bitcoin-sign pw-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Skrill Services</h2>
                    <p class="lead">We exchange Skrill currency to mobile money (AirtelMoney, M-Pesa) / Bitcoins / PayPal currency. Click on a service below to begin</p>
                    <ul>
                        <li>
                            <a>
                                <i class="pw pw-skrill pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-mobile fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="pw pw-skrill pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-bitcoin-sign pw-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="pw pw-skrill pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-paypal pw-2x pw-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Bitcoin Services</h2>
                    <p class="lead">We exchange Bitcoins to mobile money (AirtelMoney, M-Pesa) / Skrill / PayPal currency. Click on a service below to begin</p>
                    <ul>
                        <li>
                            <a>
                                <i class="pw pw-bitcoin-sign pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-mobile fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="pw pw-bitcoin-sign pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-skrill pw-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="pw pw-bitcoin-sign pw-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-paypal pw-2x pw-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mobile Money Services</h2>
                    <p class="lead">We exchange mobile currency from AirtelMoney and M-Pesa to Bitcoins / PayPal currency / Skrill currency. Click on a service below to begin</p>
                    <ul>
                        <li>
                            <a>
                                <i class="fa fa-mobile fa-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-paypal pw-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-mobile fa-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-skrill pw-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-mobile fa-2x"></i>
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                <i class="pw pw-bitcoin-sign pw-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

  
  