<section class="intro-header">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="intro-message">
                <h1>Welcome to Speedisha Africa</h1>
                <h3>Your Convinient And Reliable Partner In Digital Currency Services.</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a routerLink="/mobile-money-services" class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                            <i class="fa fa-mobile fa-3x"></i> <span class="network-name"> Wallet</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/paypal-services" class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                            <i class="fa fa-paypal fa-3x"></i> <span class="network-name"> PayPal</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/skrill-services" class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                            <i class="pw pw-skrill pw-3x"></i><span class="network-name"></span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/bitcoin-services" class="btn btn-default btn-lg col-xs-12 .col-sm-6 .col-lg-3">
                            <i class="fa fa-bitcoin fa-3x"></i> <span class="network-name"> Bitcoin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- /.container -->
</section>
<!-- /.intro-header -->
<!-- Page Content -->
<section class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6" align="center" id="e_payment_api">
                <!-- <hr class="section-heading-spacer"> -->
                <div class="clearfix"></div>
                <h2 class="section-heading text-info">Coming Soon: E-Payments API</h2>
                <p class="lead">We offer exchange services to and from PayPal currency. Source/Destination can be mobile money (AirtelMoney, M-Pesa, Orange Money, Equitel Money), your Bitcoin wallet or Skrill currency. Click on a service below to begin</p>
                <ul class="list-unstyled">
                    <li>
                        <a>
                            PayPal &nbsp;&lt;&gt;&nbsp; Mobile
                        </a>
                    </li>
                    <li>
                        <a href="">
                            PayPal &nbsp;&lt;&gt;&nbsp; Skrill
                        </a>
                    </li>
                    <li>
                        <a>
                           PayPal &nbsp;&lt;&gt;&nbsp; Bitcoin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-6" align="center">
                <!-- <hr class="section-heading-spacer"> -->
                <div class="clearfix"></div>
                <h2 class="section-heading text-info">Coming Soon: P2P Financing</h2>
                <p class="lead">We offer exchange services to and from PayPal currency. Source/Destination can be mobile money (AirtelMoney, M-Pesa, Orange Money, Equitel Money), your Bitcoin wallet or Skrill currency. Click on a service below to begin</p>
                <ul class="list-unstyled">
                    <li>
                        <a>
                            PayPal &nbsp;&lt;&gt;&nbsp; Mobile
                        </a>
                    </li>
                    <li>
                        <a>
                            PayPal &nbsp;&lt;&gt;&nbsp; Skrill
                        </a>
                    </li>
                    <li>
                        <a>
                           PayPal &nbsp;&lt;&gt;&nbsp; Bitcoin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section-a -->

<!-- Mobile Money Services -->
<section class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Mobile Money Services</h2>
                <p class="lead">We offer exchange services for mobile currency from one mobile wallet to another(eg AirtelMoney To Mpesa)</p>
                <ul>
                    <li>
                        <a>
                            <i class="fa fa-mobile fa-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-paypal pw-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-mobile fa-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-skrill pw-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-mobile fa-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-bitcoin-sign pw-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/img/services/mobile-services.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<!-- Page Content -->
<section class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">PayPal Services</h2>
                <p class="lead">We offer exchange services to and from PayPal currency. Source/Destination can be mobile money (AirtelMoney, M-Pesa, Orange Money, Equitel Money), your Bitcoin wallet or Skrill currency. Click on a service below to begin</p>
                <ul class="list-unstyled">
                    <li>
                        <a>
                            PayPal &nbsp;&lt;&gt;&nbsp; Mobile
                        </a>
                    </li>
                    <li>
                        <a href="">
                            PayPal &nbsp;&lt;&gt;&nbsp; Skrill
                        </a>
                    </li>
                    <li>
                        <a>
                           PayPal &nbsp;&lt;&gt;&nbsp; Bitcoin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/img/services/paypal-services.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section-a -->
<section class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Skrill Services</h2>
                <p class="lead">We offer exchange services to and from Skrill currency. Source/Destination can be mobile money (AirtelMoney, M-Pesa, Orange Money, Equitel Money), your Bitcoin wallet or Paypal currency. Click on a service below to begin</p>
                <ul>
                    <li>
                        <a>
                            <i class="pw pw-skrill pw-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-mobile fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="pw pw-skrill pw-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-bitcoin-sign pw-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="pw pw-skrill pw-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-paypal pw-2x pw-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/img/services/skrill-services.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section-b -->
<section class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Bitcoin Services</h2>
                <p class="lead">We offer exchange services to and from your bitcoin wallet. Source/Destination can be mobile money (AirtelMoney, M-Pesa, Orange Money, Equitel Money) and your Paypal/Skrill currencies. Click on a service below to begin</p>
                <ul>
                    <li>
                        <a>
                            <i class="pw pw-bitcoin-sign pw-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-mobile fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="pw pw-bitcoin-sign pw-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-skrill pw-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="pw pw-bitcoin-sign pw-2x"></i>
                            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            <i class="pw pw-paypal pw-2x pw-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/img/services/bitcoin-services.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section-a -->

