<section class="container-fluid">
	<div class="content-section-b">
	<div class="container">
	    <div class="row">
	        <div class="col-md-5 col-xs-12">
	            <hr class="section-heading-spacer">
	            <div class="clearfix"></div>
	            <h2 class="section-heading">New Speedisha Account</h2>
	            <p>Creating an account with us is easy. Just fill in the form below, and your good to go.</p>
                <div class="form-group">
					<label>Name</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				<div class="form-group">
					<label>email</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="" class="form-control" id="" value="">
				</div>
          				  
            </div>
            <div class="col-md-5 col-md-offset-1 col-xs-12">
            	<hr class="section-heading-spacer">
	            <div class="clearfix"></div>
            	<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to The Company's' Terms and Conditions as stated in the policy. Key higlights are mentioned below. Make sure to read the <a>Policies Section</a> before proceeding.
				</p>
				<p>
					- We respect all the information you share with us, and wont be sharing it with any third party individual or organization.
				</p> 
				<p>
					- While rare, charges are subject to change based on exchange rate fluctuations - You will be notified of the latest exchange rate before completeing a transaction.
				</p> 
            </div>           
        </div>
        <div class="row">
        	 <div class="col-md-5  col-xs-12">
        	 <hr class="section-heading-spacer">
	            <div class="clearfix"></div>
        	 	<div class="form-group ">
            		<button type="submit" class="btn btn-primary form-control">Register</button>
            	</div>
            </div>
        </div>
        

    </div><!-- /.container -->
</div>
</section>
